body{
    background-color: #0f0f0f;
    font-family:  Calibri,  sans-serif;
}

header{
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
}
.logo{
    color: #00ff88;
    align-content: center;
}
.nav{
    display: flex;
    color: #f5f5f5;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-right: 20rem;
    padding-left: 20rem;
}
.icons{
       /* text-align:right; */
       align-content: center; 
}
.i1{
   color:#f5f5f5;
   margin: 5px;
}
.name{
    color: #f5f5f5;
    font-size: 3rem;
    font-family:  Calibri;
    margin-top: 5rem;
    margin-bottom: 25px;
    margin-left: 10px;
}
.developer{
    color: #00ff88;
    font-size: 20px;
    margin-left: 9px;
}
.para{
    color:#f5f5f5;
    width: 50%;
    margin-left: 9px;
    font-size: 19px;
}
.colHead{
    display: flex;
    color: #00ff88;
    
   
}
.col{
 margin: 10px;
background-color: #002011da;
border: 1px solid rgb(3, 95, 3);
border-radius: 50px;
height: 30px;
width: 80px;
font-size: 12px;
text-align: center;
align-content: center;
}
button{
    color: black;
    background-color: #00ff88;
    border-radius: 50px;
    border: 0px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    width: 250px;
    margin-left: 20px;
    margin-top: 10px;

}
.image{
    padding-top: 20px;
    padding-right: 20px;
    margin-right: 30px;
    margin-top: 30px;
    height: auto;
  border-radius: 50%;
  
}